<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script  type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $("#updateForm").submit(function () {
                //将表单中的数据弄成地址栏的格式
                var data = $("#updateForm").serialize();
                $.ajax({
                    url: "/Emp/updateEmp",
                    type: "post",
                    //必须设置，保证你提交的数据和后台返回是同步的
                    async: false,
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if(data.type == "success"){
                            alert(data.msg);
                        }else {
                            alert(data.msg);
                        }
                    }
                });
                //因为用的是form表单，ajax会提交一次，form表单自带的也会提交，在onclick/submit事件最后加上return false,form表单就不会再提交，不然就是提交两次，所以报上面那个错。
                return false;
            });
        });
    </script>
</head>
<body>
<center>
    <form id="updateForm">
        <table border="1" cellspacing="0">
            <tr>
                <td><input id="id" type="hidden" name="id" th:value="${employee.id}"></td>
            </tr>
            <tr>
                <td>账号:</td>
                <td><input id="lastName" type="text" name="lastName" th:value="${employee.lastName}"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input id="password" type="password" name="password" th:value="${employee.password}"></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input id="email" type="text" name="email" th:value="${employee.email}"></td>
            </tr>
            <tr>
                <td>性别:</td>
                <td>
                    <input type="radio" name="gender" value="1" th:checked="${employee.gender == 1}"/>男
                    <input type="radio" name="gender" value="2" th:checked="${employee.gender == 2}"/>女
                </td>
            </tr>
            <tr>
                <td>部门</td>
                <td>
                    <select name="dId">
                        <option style="width:200px" value="1" th:selected="${employee.dId == 1}">前端部门</option>
                        <option style="width:200px" value="2" th:selected="${employee.dId == 2}">后端部门</option>
                        <option style="width:200px" value="3" th:selected="${employee.dId == 3}">采财务部门</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="修改"></td>
            </tr>
        </table>

    </form>
</center>
</body>
</html>